.cantidad-usuarios {
    font-size: 1.2rem;
    font-weight: bold;
    color: #050505; /* Color blanco */
    text-align: center;
    margin: 10px 0;
  }
  .is-invalid {
    --border-color: red !important;
    --ion-color-base: red !important;
    --placeholder-color: red !important;
    animation: shake 0.3s ease-in-out;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
  }
  