<ion-header [translucent]="true">
  <!-- <ion-toolbar class="barra">
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar> -->
</ion-header>
<ion-content>
  <div class="splash-container">
        <!-- <img src="assets/icon/bienvenida.svg" alt="Imagen de bienvenida" class="imagen-bienvenida" id="splashImage"> -->

    <img src="assets/img/logo_seduc.jpeg" alt="Imagen de bienvenida" class="imagen-bienvenida" id="splashImage">
    <div class="loading-container">
      <div class="spinner"></div>
      <p>Cargando...</p>
    </div>
  </div>
</ion-content>

